.nav{
  grid-area: nv;
  background: #b532cf;
}
.list{
  list-style: none;
}
.item{
  color: #ffffff;
  text-decoration: none;
}
.active{
  color: #81f0f0;
  text-decoration: none;
}
.pending{
  color: #92ee86;
}